@import "../utils/styles/variables.scss";
footer {
  width: 100%;
  height: 185px;
  margin-top: 40px;
  background-color: $secondary_color;
  display: block;
  text-align: center;
  img {
    width: 122px;
    height: 40px;
    margin: 55px auto 25px;
  }
  p {
    color: $third_color;
    letter-spacing: 0.5px;
  }
}
