@import "../../utils/variable.scss";



.gallery {
  background-color: $third_color;
  border-radius: 25px;
  width: 87%;
  height: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
