@import "../../utils/variable.scss";
footer {
  width: 100%;
  height: 185px;
  background-color: $secondary_color;
  display: block;
  text-align: center;
  img {
    width: 122px;
    height: 40px;
    margin: 55px auto 20px;
  }
  p {
    color: $third_color;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 576px) {
  footer {
    img {
      margin: 55px auto 0;
    }
    p {
      font-size: 15px;
    }
  }
}
