@import "../../utils/variable.scss";



.accommodation-carousel {
  width: 90%;
  margin: 30px auto;
}

.accommodation {
  width: 90%;
  margin: 30px auto;
  .accommodation-description {
    display: flex;
    margin: 15px 0;
    flex-direction: column;
    div {
      h2 {
        color: $primary_color;
        font-size: 27px;
        font-weight: 500;
        width: 83%;
        margin: 0 0 10px 0;
      }
      span {
        font-size: 18px;
        font-weight: 500;
      }
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      top: 20px;
      span {
        padding: 5px 10px;
        margin-right: 10px;
        background-color: $primary_color;
        color: $third_color;
            border-radius: 12px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
  .hostStars {
    display: block;
    height: 10px;
    .hostInfos {
      display: flex;
      align-items: center;
      position: relative;
      bottom: 120px;
      justify-content: end;
      span {
        color: $primary_color;
        font-size: 18px;
        font-weight: 500;
        word-wrap: break-word;
        width: 78px;
        text-align: end;
        margin-right: 10px;
      }
      .hostBox {
        background-color: $bg_host;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        object-fit: cover;
        object-position: center;
      }
    }
    .stars {
      display: flex;
      align-items: center;
      justify-content: end;
      position: relative;
      bottom: 83px;
      i {
        margin: 0 8px;
        &.star {
          color: $primary_color;
        }
        &.disableStars {
          color: $bg_stars;
        }
      }
    }
  }
}

.description-equipment {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  .collapse-container {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .accommodation {
    .accommodation-description {
      flex-direction: column;
      div {
        h2 {
          font-size: 26px;
        }
      }
      div {
        span {
          font-size: 20px;
        }
      }
      .tags {
        position: static;
        margin-top: 15px;
        span {
          font-size: 14px;
          padding: 5px 10px;
          border-radius: 7px;
        }
      }
    }

    .hostStars {
      flex-direction: row-reverse;
      justify-content: space-between;
      display: flex;
      height: initial;
      .hostInfos {
        position: static;
        .hostBox {
          width: 48px;
          height: 48px;
        }
      }
      .stars {
        position: static;
        i {
          margin: 0 6px;
        }
      }
    }
  }

  .description-equipment {
    flex-direction: column;
    .collapse-container {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 576px) {
  .accommodation {
    .accommodation-description {
      div h2 {
        font-size: 25px;
      }
      div span {
        font-size: 18px;
      }
      .tags {
        span {
          font-size: 13px;
          padding: 5px 5px;
          margin: 0 5px 5px 0;
        }
      }
    }
    .hostStars {
      flex-direction: row-reverse;
      justify-content: space-between;
      .hostInfos {
        .hostBox {
          width: 40px;
          height: 40px;
        }
      }
      .stars {
        i {
          margin: 0 4px;
        }
      }
    }
    .description-equipment {
      display: block;
      .collapse-container {
        width: 100%;
      }
    }
  }
}
